*{
    margin: 0;
}
.nav{
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Noto Serif Display', serif;
    z-index: 999;
}
.left, .right{
    flex: 3;
    align-items: center;
    justify-content: center;
}
.navIcon, .profileIcon{
    font-size: 20px;
    margin: 5px;
    color: #444;
    cursor: pointer;
}
.navIcon:hover{
    transform: scale(1.5);
}
.center{
    flex: 6;
}
.toplist{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.liItem{
    font-size: 18px;
    margin-right: 20px;
    color: #444;
    cursor: pointer;
}
.profile{
    background-color: antiquewhite;
    border: 1px solid #aaa;
    border-radius: 75%;
}
.profile:hover{
    background-color: #fafafa;
}
.searchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}
.headerTitles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #444;
}
.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 20px;
}
.headerTitleLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.headerImg{
    height: 90%;
    width: 100%;
    margin-top: 200px;
    object-fit: cover;
}
.home{
    display: flex;
}
.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.sidebar{
    flex: 3;
    margin: 10px;
    padding-bottom: 30px;
    background-color: #fafafa;
    color: #444;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Serif Display', serif;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    margin: 20px;
    padding: 5px;
    width: 80px;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-size: 12px;
    font-weight: 600;
}
.sidebar p, ul, i{
    padding: 7px;
    list-style: none;
    margin: 5px;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    cursor: pointer;
}
.post{
    width: 385px;
    margin: 0px 25px 40px 25px;
}
.postImg{
    width: 100%;
    height: 200px;
    border-radius: 7px;
    object-fit: cover;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postCat{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: #be9656;
    line-height: 20px;
    margin-top: 20px;
    margin-right: 7px;
    cursor: pointer;
}
.postTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}
.postDate{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 13px;
    margin: 10px 0;

}
.postDesc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #444;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.single{
    display: flex;
}
.singlePost{
    flex: 9;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}
.singlePostImg{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.singlePostTitle{
    text-align: center;
    font-family: 'Noto Serif Display', serif;
    margin: 10px;
    font-size: 28px;

}
.edit{
    float: right;
    font-size: 16px;
}
.singlePostIcon{
    margin-right: 10px;
    cursor: pointer;

}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #be9565;


}
.singlePostDesc{
    color: #666;
    font-size: 18px;
    line-height: 1.8em;
    font-family: 'Cormorant Garamond', serif;
}
.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.write{
    padding-top: 50px;
}
.writeImg{
    width: 95vw;
    height: 250px;
    margin-left: 25px;
    object-fit: cover;
    border-radius: 10px;
}
.writeForm{
    position: relative;
}
.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;

}
.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}
.writeInput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.settings{
    display: flex;
}
.settingsWrapper{
    flex: 9;
    padding: 20px;
}
.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settingsUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.settingsDeleteTitle{
    font-size: 20px;
    cursor: pointer;
    color: red;
}
.settingsForm{
    display: flex;
    flex-direction: column;

}
.settingsP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.settingsProfileIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.settingsForm > label{
    font-size: 20px;
    margin-top: 20px;
}
.settingsForm > input{
    color: grey;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: solid 1px lightgrey;
}
.settingsSubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 20px;
}
.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/1410226/pexels-photo-1410226.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    font-family: 'Noto serif display', serif;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label{
    margin: 10px 0;
    font-family: 'Cormorant', serif;
    font-size: 20px;
}
.loginInput{
    padding: 10px;
    background-color: white;
    border: none;

}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Noto serif display', serif;
}
.logReg{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    font-family: 'Noto serif display', serif;
}
.loginButton:hover, .logReg:hover{
    color: aqua;
}
.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.pexels.com/photos/1410226/pexels-photo-1410226.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    font-family: 'Noto serif display', serif;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label{
    margin: 10px 0;
    font-family: 'Cormorant', serif;
    font-size: 20px;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;

}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Noto serif display', serif;
}
.regLogin{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    font-family: 'Noto serif display', serif;
}
.registerButton:hover, .regLogin:hover{
    color: aqua;
}